<link rel="stylesheet" href="/footer.css">
<div class="footer">
    <a href="/" class="btn-primary"><i class='bx bx-home-alt-2' style="color: #ED7517;"></i></a>
    <a href="/profile/meal" class="btn-primary"><i class='bx bx-bowl-hot' style="color: #ED7517;"></i></a>
    <a href="/profile/exercise" class="btn-primary"><i class='bx bx-dumbbell' style="color: #ED7517;"></i></a>
    <a href="/profile/userinfo" class="btn-primary"><i class='bx bxs-user-account' style="color: #ED7517;"></i></a>
    <a href="/profile/userinfo/edit" class="btn-primary"><i class='bx bxs-edit' style="color: #ED7517;"></i></a>
</div>