<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<a href="/profile/meal" class="btn btn-primary">View Meals</a>-
<a href="/profile/exercise" class="btn btn-primary">View Exercises</a>
<a href="/profile/favorite-exercises" class="btn btn-primary">Favorite Exercises</a>
<a href="/profile/userinfo" class="btn btn-primary">View personal info</a>
<a href="/profile/userinfo/edit" class="btn btn-primary">Edit personal info</a>