<link rel="stylesheet" href="/navbar.css">
<div class="top">
  <img src="Logo.png" alt="logo">
  <nav>
    <ul>
      <a class="link-1" href="/profile">Profile</a>
      <a class="link-1" href="/register">Register</a>
      <a class="link-1" href="/login">Log in</a>
      <a class="link-1" href="/auth/logout">Log out</a>
      <a class="link-1" href="/admin">Admin</a>
    </ul>
  </nav>
</div>