<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <title>
        <%= title %>
    </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="favicon.ico" type="image/png">
</head>

<body>
    <div class="wrapper">
        <form action="/admin/login" method="POST">

            <img src="Logo.png">

            <div class="input-box">
                <!-- Add the name attribute for email -->
                <input type="text" name="email" placeholder="email" required>
                <i class='bx bxs-user' style="color: #ED7517;"></i>
            </div>

            <div class="input-box">
                <!-- Add the name attribute for password -->
                <input type="password" name="password" placeholder="password" required>
                <i class='bx bxs-lock-alt' style="color: #ED7517;"></i>
            </div>

            <div class="remember-forgot">
                <a href="/auth/forgot-password"> Forgot password </a>
            </div>

            <button type="submit" class="btn" href="adminex.ejs"> ADMIN LOG IN </button>

        
        </form>
    </div>

</body>

</html>