<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashbaord</title>
    <link rel="stylesheet" href="/admindash.css">
</head>

<body>
    <div class="container">
        <h1>Admin</h1>
        <a href="/admin/exercise"><button class="element">Exercises</button></a>
        <a href="/admin/meals"><button class="element">Meals</button></a>
    </div>
</body>

</html>