<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashbaord</title>
    <link rel="stylesheet" href="admindash.css">
</head>
<body>
    <div class="container">
<h1>Admin</h1>
<h2 class="element">Exercises</h2>
<h2 class="element">Meals</h2>
</div>
</body>
</html>
