<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin exercises</title>
    <link rel="stylesheet" href="/adminex.css">
</head>
<body>
    <div class="container">
    <div class="vjezba">
        <p>Naziv</p>
        <p>Kilaža</p>
        <p>Ponavljanja</p>
        <p>link</p>
        <button>-</button>
    </div>
    
    <div class="plus">
        <p>+</p>
    </div>
</div>
</body>
</html>