<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <% if (user) { %>
        <%- include('partials/navbarLogged') %>
    <% } else { %>
        <%- include('partials/navbar') %>
    <% } %>
    
    <p class="quote">
        Train hard, <br> stay focused, <br> achieve greatness!
    </p>
</body>

</html>