<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profilepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title><%= title %></title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
</head>

<body>
    

    <div class="container mt-5">
        <h1>Welcome to Your Profile</h1>
    </div>
        <h3 class="container mt-5"><%= user.username %></h3>
        <h3 class="container mt-5">You are <%= user.user_id %> user on this site</h3>
    
    <div class="footer">
        <a href="/" class="btn-primary"><i class='bx bx-home-alt-2' style="color: #ED7517;"></i></a>
        <a href="/profile/meal" class="btn-primary"><i class='bx bx-bowl-hot' style="color: #ED7517;"></i></a>
        <a href="/profile/exercise" class="btn-primary"><i class='bx bx-dumbbell' style="color: #ED7517;"></i></a>
        <a href="/profile/userinfo" class="btn-primary">View personal info</a>
        <a href="/profile/userinfo/edit" class="btn-primary">Edit personal info</a>
    </div>
</body>

</html>
