@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
   
}

.vjezba{
    width: calc(20%);
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10%;
    border: black;
    border: solid;
    border-width: 1px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.container {
    display: flex;
    flex-wrap: wrap;
  }

  
  .plus{
    width: calc(20%);
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
    border-radius: 10%;
    border: black;
    border: solid;
    border-width: 1px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  }
  