

body{
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding: 20px;
}
.user{
    color: #ED7517;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 130px;
}
.container{
    color: #343A40;
}



